.svn
*.opensdf
*.lib
*.pdb
*.exp
*.user
*.tlog
*.manifest
*.lastbuildstate
*.pch
*.obj
*.sdf
*.log
*.cache
*.ipch
*.unsuccessfulbuild
*.tlh
*.suo
.metadata
*.VC.db
*.opendb
*.iobj
*.db-shm
*.db-wal
*.ipdb
*.iobj
*.VC.db
*.iobj
*.ipdb
*.exe
*.dll
*.lib
*.7z
*.ipdb
*.iobj
*.db
*.aps
*.res
*.idb
*.ilk

